
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHistoryLabel" translate="primApp.history.home.createOrEditLabel">Create or edit a History</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="history.id" readonly>
        </div>
        <div class="form-group">
            <label translate="primApp.history.kolonAdi" for="field_kolonAdi">KolonAdi</label>
            <input type="text" class="form-control" name="kolonAdi" id="field_kolonAdi"
                    ng-model="history.kolonAdi"
                    >
        </div>
        <div class="form-group">
            <label translate="primApp.history.deger" for="field_deger">Deger</label>
            <input type="text" class="form-control" name="deger" id="field_deger"
                    ng-model="history.deger"
                    >
        </div>
        <div class="form-group">
            <label translate="primApp.history.tabloAdi" for="field_tabloAdi">TabloAdi</label>
            <input type="text" class="form-control" name="tabloAdi" id="field_tabloAdi"
                    ng-model="history.tabloAdi"
                    >
        </div>
        <div class="form-group">
            <label translate="primApp.history.tarih" for="field_tarih">Tarih</label>
            <input type="date" class="form-control" name="tarih" id="field_tarih"
                    ng-model="history.tarih"
                    >
        </div>
        <div class="form-group">
            <label translate="primApp.history.recId" for="field_recId">RecId</label>
            <input type="number" class="form-control" name="recId" id="field_recId"
                    ng-model="history.recId"
                    >
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
